@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


body {
    background-color: #ebeeb4;
}

.about-us-container {
    padding: 50px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}


.about-us-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/brasaoLogo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
}


.about-us-container h1 {
    color: #e9a913;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    position: relative;
    z-index: 1;
}

.about-section {
    margin-bottom: 30px;
    line-height: 1.6;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.about-section h2 {
    font-family: 'Dancing Script', cursive;
    color: #e9a913;
    font-size: 4em;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.about-section p {
    color: #3f3f3f;
    font-size: 2em;
    margin-bottom: 10px;
}


.historical-text {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
    line-height: 1.8;
    color: #2c3e50;
}

.about-section ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #3f3f3f;
}

.about-section ul li {
    margin-bottom: 5px;
    font-size: 1.1em;
}

/* Responsividade para mobile */

@media (max-width: 768px) {
    .about-us-container {
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-us-container::before {
        background-size: 80% auto;
    }

    .about-us-container h1 {
        font-size: 2em;
    }

    .about-section h2 {
        font-size: 1.5em;
    }

    .about-section p,
    .about-section ul li {
        font-size: 1em;
    }

    .historical-text {
        font-size: 1.2em;
    }
}