/* Importação das fontes  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Importação de estilos  */
@import './styles/home.css';
@import './styles/header_footer.css';

/* Diretivas do Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}